<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/home">Sunny Travel Agency</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="admin" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/user-list" style="color: black;">Users</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/account" style="color: black;">Account</a>
        </div>
      </li>
      <li *ngIf='auth&&!admin'>
        <a class="nav-link" href="/account" role="button" 
          >
          Account
        </a>
      </li>
    </ul>
      <button *ngIf='!auth' class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/signin']" >Log In</button>
      <button *ngIf='auth' (click)="logOut()" class="btn btn-outline-success my-2 my-sm-0" >Log Out</button>
  </div>
</nav>