<div *ngIf="!bill" class="col-md-6 center shadow-table">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Country</th>
                <td align="center">{{tour.country}}</td>
            </tr>
            <tr>
                <th scope="row">City</th>
                <td align="center">{{tour.city}}</td>
            </tr>
            <tr>
                <th scope="row">Hotel</th>
                <td align="center">{{tour.hotel}}</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td align="center">{{tour.description}}</td>
            </tr>
            <tr>
                <th scope="row">Seats</th>
                <td align="center">{{tour.numberOfPeople}}</td>
            </tr>
            <tr>
                <th scope="row">Room</th>
                <td align="center">{{tour.roomType}}</td>
            </tr>
            <tr>
                <th scope="row">Meal</th>
                <td align="center">{{tour.meal}}</td>
            </tr>
            <tr>
                <th scope="row">Sea distance</th>
                <td align="center">{{tour.seaDistance}}</td>
            </tr>
            <tr>
                <th scope="row">Hotel rating</th>
                <td align="center">{{tour.hotelRating}}</td>
            </tr>
            <tr>
                <th scope="row">Transfer</th>
                <td align="center">{{tour.transfer}}</td>
            </tr>
            <tr>
                <th scope="row">Insurance</th>
                <td align="center">{{tour.insurance}}</td>
            </tr>
            <tr>
                <th scope="row">Visa</th>
                <td align="center">{{tour.visa}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-secondary col-md-2" Onclick="goBack()">Back</button>
    <button class="btn btn-success col-md-2 offset-md-8" (click)="getBill(tour.packageId, tour.mealId, tour.roomId, '')">Bill</button>
</div>
<div *ngIf="bill" class="col-md-6 center shadow-table">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Package price</th>
                <td align="center">{{bill.packagePrice}}</td>
            </tr>
            <tr>
                <th scope="row">Room price</th>
                <td align="center">{{bill.roomPrice}}</td>
            </tr>
            <tr>
                <th scope="row">Meal price</th>
                <td align="center">{{bill.mealPrice}}</td>
            </tr>
            <tr>
                <th scope="row">Tour fee</th>
                <td align="center">{{bill.tourFee}}</td>
            </tr>
            <tr>
                <th scope="row">Transfer</th>
                <td align="center">{{bill.transfer}}</td>
            </tr>
            <tr>
                <th scope="row">Insurance</th>
                <td align="center">{{bill.insurance}}</td>
            </tr>
            <tr>
                <th scope="row">Visa</th>
                <td align="center">{{bill.visafee}}</td>
            </tr>
            <tr>
                <th scope="row">Sum discount</th>
                <td align="center">{{bill.sumDiscount}}</td>
            </tr>
            <tr>
                <th scope="row">Day Discount</th>
                <td align="center">{{bill.dayDiscount}}</td>
            </tr>
            <tr>
                <th scope="row">Gift certificate discount</th>
                <td align="center">{{bill.giftCertificate}}</td>
            </tr>
            <tr>
                <th scope="row">Total price</th>
                <td align="center">{{bill.total}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <div *ngIf="sent" class="col-md-12 text-center alert alert-success">
            Ticket sent to your email address and bounded to your account.
            <br>
            Please respond to finish order within 2 days.
    </div>
    <div *ngIf="orderError" class="col-md-12 text-center alert alert-danger">
            Something went wrong. Please sign in and repeat or get in touch with technical support.
    </div>
    <button class="btn btn-secondary col-md-2" (click)="back()">Back</button>
    <button *ngIf="!sent" class="btn btn-success col-md-2 offset-md-8" (click)="getOrder(tour.packageId, tour.mealId, tour.roomId, '')">Pay</button>
    <button *ngIf="sent" class="btn btn-success col-md-2 offset-md-8" [routerLink]="['/home']">Home</button>
</div>