<div class="col-md-6 center shadow-table">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Country</th>
                <td align="center">{{tour.country}}</td>
            </tr>
            <tr>
                <th scope="row">City</th>
                <td align="center">{{tour.city}}</td>
            </tr>
            <tr>
                <th scope="row">Hotel</th>
                <td align="center">{{tour.hotel}}</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td align="center">{{tour.description}}</td>
            </tr>
            <tr>
                <th scope="row">Seats</th>
                <td align="center">{{tour.numberOfPeople}}</td>
            </tr>
            <tr>
                <th scope="row">Room</th>
                <td align="center">{{tour.roomType}}</td>
            </tr>
            <tr>
                <th scope="row">Meal</th>
                <td align="center">{{tour.meal}}</td>
            </tr>
            <tr>
                <th scope="row">Sea distance</th>
                <td align="center">{{tour.seaDistance}}</td>
            </tr>
            <tr>
                <th scope="row">Hotel rating</th>
                <td align="center">{{tour.hotelRating}}</td>
            </tr>
            <tr>
                <th scope="row">Transfer</th>
                <td align="center">{{tour.transfer}}</td>
            </tr>
            <tr>
                <th scope="row">Insurance</th>
                <td align="center">{{tour.insurance}}</td>
            </tr>
            <tr>
                <th scope="row">Visa</th>
                <td align="center">{{tour.visa}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-secondary col-md-2" Onclick="goBack()">Back</button>
    <button class="btn btn-success col-md-2 offset-md-8">Order</button>
</div>