<div class="col-md-6 center shadow-table">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Package price</th>
                <td align="center">{{bill.packagePrice}}</td>
            </tr>
            <tr>
                <th scope="row">Room price</th>
                <td align="center">{{bill.roomPrice}}</td>
            </tr>
            <tr>
                <th scope="row">Meal price</th>
                <td align="center">{{bill.mealPrice}}</td>
            </tr>
            <tr>
                <th scope="row">Tour fee</th>
                <td align="center">{{bill.tourFee}}</td>
            </tr>
            <tr>
                <th scope="row">Transfer</th>
                <td align="center">{{bill.transfer}}</td>
            </tr>
            <tr>
                <th scope="row">Insurance</th>
                <td align="center">{{bill.insurance}}</td>
            </tr>
            <tr>
                <th scope="row">Visa</th>
                <td align="center">{{bill.visafee}}</td>
            </tr>
            <tr>
                <th scope="row">Sum discount</th>
                <td align="center">{{bill.sumDiscount}}</td>
            </tr>
            <tr>
                <th scope="row">Day Discount</th>
                <td align="center">{{bill.dayDiscount}}</td>
            </tr>
            <tr>
                <th scope="row">Gift certificate discount</th>
                <td align="center">{{bill.giftCertificate}}</td>
            </tr>
            <tr>
                <th scope="row">Total price</th>
                <td align="center">{{bill.total}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-secondary col-md-2" Onclick="goBack()">Back</button>
    <button class="btn btn-success col-md-2 offset-md-8">Pay</button>
</div>